<h3> <%= link_to 'States', '/states' %> </h3>
<h3> <%= link_to 'Cities', '/cities' %> </h3>

<h1> States </h1>

<% @states.each_with_index do |state, index| %>
<div id="state-<%= index %>">
    <p><b>  <%= state.name %></b></p>
    <p> Created at: <%= state.created_at %> </p>
    </div>
<% end %>
<h3> <%= link_to 'New State', '/states/new'%> </h3>

