<h3> <%= link_to 'States', '/states' %> </h3>
<h3> <%= link_to 'Cities', '/cities' %> </h3>
<h1> <%= @state.name %>  </h1>
<h3> <%= @state.name %>'s <a href="/states/<%=@state.id%>/cities">cities </a> 
<p> Average Population of given cities for <%= @state.name %>: <%= @state.average_population %> </p>
<p> Biome of  <%= @state.name %>: <%= @state.biome %> </p>
<p>  Is the state part of the continental US? <%= @state.name %>: <%= @state.continental %> </p>
<p> <%=@state.name %> has <%= @state.number_of_lakes %> lakes </p>
<p> <%=@state.name %> has <%= @state.land_area %> square miles of land </p>
<p> <%=@state.name %> was created at <%= @state.created_at %>
<p> <%=@state.name %> was last updated at <%= @state.updated_at %>
<p> <%=@state.name %> currently has <%= @state.cities.count %> cities </p>

<h4> <%= link_to 'Update State', "/states/#{@state.id}/edit"%> </h4>



